--
-- PostgreSQL database dump
--

-- Dumped from database version 14.5
-- Dumped by pg_dump version 14.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: asisten; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.asisten (
    id integer NOT NULL,
    id_user integer NOT NULL,
    nama character varying(100),
    email character varying(100),
    hp character varying(100),
    addr character varying(100)
);


ALTER TABLE public.asisten OWNER TO postgres;

--
-- Name: asisten_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.asisten_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.asisten_id_seq OWNER TO postgres;

--
-- Name: asisten_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.asisten_id_seq OWNED BY public.asisten.id;


--
-- Name: asisten_id_user_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.asisten_id_user_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.asisten_id_user_seq OWNER TO postgres;

--
-- Name: asisten_id_user_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.asisten_id_user_seq OWNED BY public.asisten.id_user;


--
-- Name: client; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.client (
    id integer NOT NULL,
    nik_client character varying(100),
    nm_client character varying(100),
    hp_client character varying(100),
    email character varying(100),
    mandiri boolean,
    nama_penghubung character varying(100),
    no_kontak_penghubung character varying(100),
    alamat character varying(100),
    file_scan_ktp character varying
);


ALTER TABLE public.client OWNER TO postgres;

--
-- Name: client_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.client_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.client_id_seq OWNER TO postgres;

--
-- Name: client_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.client_id_seq OWNED BY public.client.id;


--
-- Name: list_jns_perkara; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.list_jns_perkara (
    id integer NOT NULL,
    jns_perkara_reg_id character varying(30),
    jns_perkara character varying(100)
);


ALTER TABLE public.list_jns_perkara OWNER TO postgres;

--
-- Name: list_jns_perkara_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.list_jns_perkara_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.list_jns_perkara_id_seq OWNER TO postgres;

--
-- Name: list_jns_perkara_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.list_jns_perkara_id_seq OWNED BY public.list_jns_perkara.id;


--
-- Name: log_activity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.log_activity (
    id integer NOT NULL,
    no_perkara character varying(100),
    id_client character varying(100),
    id_asisten character varying(100),
    log_text character varying,
    log_time timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.log_activity OWNER TO postgres;

--
-- Name: log_activity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.log_activity_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.log_activity_id_seq OWNER TO postgres;

--
-- Name: log_activity_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.log_activity_id_seq OWNED BY public.log_activity.id;


--
-- Name: penasehat_hukum; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.penasehat_hukum (
    id integer NOT NULL,
    nama character varying(100),
    email character varying(100),
    hp character varying(100),
    addr character varying(100),
    avatar character varying(100)
);


ALTER TABLE public.penasehat_hukum OWNER TO postgres;

--
-- Name: penasehat_hukum_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.penasehat_hukum_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.penasehat_hukum_id_seq OWNER TO postgres;

--
-- Name: penasehat_hukum_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.penasehat_hukum_id_seq OWNED BY public.penasehat_hukum.id;


--
-- Name: perkara; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.perkara (
    id integer NOT NULL,
    id_client integer NOT NULL,
    id_penasehat_hukum jsonb,
    id_asisten jsonb,
    no_perkara character varying(100),
    no_laporan_polisi character varying(100),
    no_dll character varying(100),
    jns_perkara_order character varying,
    judul character varying(100),
    deskripsi character varying,
    para_pihak_tergugat jsonb,
    tgl_dibuat_perkara timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    tgl_selesai_perkara timestamp without time zone
);


ALTER TABLE public.perkara OWNER TO postgres;

--
-- Name: perkara_id_client_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.perkara_id_client_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.perkara_id_client_seq OWNER TO postgres;

--
-- Name: perkara_id_client_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.perkara_id_client_seq OWNED BY public.perkara.id_client;


--
-- Name: perkara_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.perkara_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.perkara_id_seq OWNER TO postgres;

--
-- Name: perkara_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.perkara_id_seq OWNED BY public.perkara.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(100),
    password character varying,
    level character varying(100)
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: asisten id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asisten ALTER COLUMN id SET DEFAULT nextval('public.asisten_id_seq'::regclass);


--
-- Name: asisten id_user; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asisten ALTER COLUMN id_user SET DEFAULT nextval('public.asisten_id_user_seq'::regclass);


--
-- Name: client id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.client ALTER COLUMN id SET DEFAULT nextval('public.client_id_seq'::regclass);


--
-- Name: list_jns_perkara id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.list_jns_perkara ALTER COLUMN id SET DEFAULT nextval('public.list_jns_perkara_id_seq'::regclass);


--
-- Name: log_activity id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.log_activity ALTER COLUMN id SET DEFAULT nextval('public.log_activity_id_seq'::regclass);


--
-- Name: penasehat_hukum id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.penasehat_hukum ALTER COLUMN id SET DEFAULT nextval('public.penasehat_hukum_id_seq'::regclass);


--
-- Name: perkara id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.perkara ALTER COLUMN id SET DEFAULT nextval('public.perkara_id_seq'::regclass);


--
-- Name: perkara id_client; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.perkara ALTER COLUMN id_client SET DEFAULT nextval('public.perkara_id_client_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: asisten; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.asisten (id, id_user, nama, email, hp, addr) FROM stdin;
1	1	yuni sari	yuni@gmail.com	123	123
\.


--
-- Data for Name: client; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: list_jns_perkara; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: log_activity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.log_activity (id, no_perkara, id_client, id_asisten, log_text, log_time) FROM stdin;
\.


--
-- Data for Name: penasehat_hukum; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.penasehat_hukum (id, nama, email, hp, addr, avatar) FROM stdin;
1	budi susanto	budi@gmail	123	asdasd	\N
\.


--
-- Data for Name: perkara; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.perkara (id, id_client, id_penasehat_hukum, id_asisten, no_perkara, no_laporan_polisi, no_dll, jns_perkara_order, judul, deskripsi, para_pihak_tergugat, tgl_dibuat_perkara, tgl_selesai_perkara) FROM stdin;
1	13	[]	[]	123	123	123	->pengadilan-negeri->perdata-umum->perdata-gugatan->perbuatan-melawan-hukum->ganti-rugi->perbuatan-melawan-hukum	test ju	test deskripsi	[]	2024-09-23 05:04:15.088189	\N
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, username, password, level) FROM stdin;
\.


--
-- Name: asisten_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.asisten_id_seq', 1, true);


--
-- Name: asisten_id_user_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.asisten_id_user_seq', 1, true);


--
-- Name: client_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.client_id_seq', 13, true);


--
-- Name: list_jns_perkara_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.list_jns_perkara_id_seq', 87, true);


--
-- Name: log_activity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.log_activity_id_seq', 1, false);


--
-- Name: penasehat_hukum_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.penasehat_hukum_id_seq', 1, true);


--
-- Name: perkara_id_client_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.perkara_id_client_seq', 1, false);


--
-- Name: perkara_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.perkara_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: asisten asisten_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asisten
    ADD CONSTRAINT asisten_pkey PRIMARY KEY (id);


--
-- Name: client client_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.client
    ADD CONSTRAINT client_pkey PRIMARY KEY (id);


--
-- Name: list_jns_perkara list_jns_perkara_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.list_jns_perkara
    ADD CONSTRAINT list_jns_perkara_pkey PRIMARY KEY (id);


--
-- Name: log_activity log_activity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.log_activity
    ADD CONSTRAINT log_activity_pkey PRIMARY KEY (id);


--
-- Name: penasehat_hukum penasehat_hukum_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.penasehat_hukum
    ADD CONSTRAINT penasehat_hukum_pkey PRIMARY KEY (id);


--
-- Name: perkara perkara_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.perkara
    ADD CONSTRAINT perkara_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

